/* mini reset */
body{
    margin: 0;
    background: #fafafa;
  }
  body,h1,h2,p,a,input{
    color: #555;
    font-family: Consolas, Arial;
    text-decoration: none;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  
  /* header styles */
  header{
    width: 100%;
    padding: 20px;
    text-align: right;
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  }
  header a{
    margin-left: 10px;
    border-bottom: 2px solid #ffe100;
    padding: 4px;
    cursor: pointer;
  }
  header a:hover{
    background: #ffe100;
    color: black;
  }
  
  /* content styles */
  .content{
    max-width: 800px;
    margin: 40px auto 0;
  }
  
  /* request list styles */
  .request-list li{
    padding: 20px;
    margin: 10px auto;
    list-style-type: none;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
  }
  .request-list .votes{
    position: relative;
    top: -5px;
    z-index: 0;
  }
  .request-list .upvote{
    cursor: pointer;
    border-radius: 50%;
  }
  .request-list .upvote:active{
    color: black;
    background: #ffe100;
  }
  
  /* modal styles */
  .modal{
    width: 300px;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  .new-request{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    display: none;
  }
  .new-request.open{
    display: block;
  }
  
  /* form element styles */
  input{
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%;
  }
  button{
    margin-top: 10px;
    padding: 8px 12px;
    background: #ffe100;
    border: 0;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
  }
  
  /* auth styles */
  .auth{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fafafa;
    display: none;
    z-index: 1;
  }
  .auth.open{
    display: block;
  }
  .auth a{
    text-decoration: underline;
    cursor: pointer;
  }
  .auth .modal{
    display: none;
  }
  .auth .modal.active{
    display: block;
  }

/* notification */
.notification{
  width: 200px;
  padding: 20px;
  position: fixed;
  left: 50%;
  margin-left: -120px;
  top: 0;
  border-radius: 0 0 5px 5px;
  background: #ec2d2d;
  text-align: center;
  color: #fff;
  margin-top: -100%;
  transition: all 0.4s;
}
.notification.active{
  margin-top: 0;
}