<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pruebas en firebase</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
  <body>
 
      <div class="notification">Test content</div>

      <!-- auth modals -->
      <div class="auth open">
        <div class="modal">
          <h2>Login</h2>
          <form class="login">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button>Login</button>
            <p class="error"></p>
          </form>
          <div>No account? <a class="switch">Register instead</a></div>
        </div>
        <div class="modal">
          <h2>Register</h2>
          <form class="register">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button>Register</button>
            <p class="error"></p>
          </form>
          <div>Got an account? <a class="switch">Login instead</a></div>
        </div>
      </div>
  
      <!-- new request modal -->
      <div class="new-request">
        <div class="modal">
          <h2>Request a Tutorial</h2>
          <form>
            <input type="text" name="request" placeholder="Request...">
            <button>Submit Request</button>
            <p class="error"></p>
          </form>
        </div>
      </div>
      
      <header>
        <nav>
          <a class="add-request">add request</a>
          <a class="sign-out">sign out</a>
        </nav>
      </header>
  
      <section class="content" id="app">
        <h1>Tutorial Requests</h1>
        <ul class="request-list"> 
          <li v-for="request in requests" >
            <span class="text">{{ request.text }}</span>
            <div>
              <span class="votes">{{ request.upvotes }}</span>
              <i class="material-icons upvote" v-on:click="upvoteRequest(request.id)" >arrow_upward</i>
            </div>
          </li>
        </ul>

         <!--Este botón estaba siendo ejecutado para llamar a una función callable llamada sayHello
      <button class="call">Say hello</button>
      -->
    
      </section>

     <!-- vue js-->
     <script src="https://cdn.jsdelivr.net/npm/vue"></script> 
     
     <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.14.2/firebase-app.js"></script>

    <script src="/__/firebase/7.14.2/firebase-auth.js"></script>
    <script src="/__/firebase/7.14.2/firebase-firestore.js"></script>
    <script src="/__/firebase/7.14.2/firebase-functions.js"></script>
    
    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
    <script src="js/app.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/requests.js"></script>
  </body>
</html>
